
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Login</title>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<form asp-action="Login">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label  class="form-label">UserName</label>
        <input name="Username" id="Username" type="Text" class="w3-input w3-border w3-animate-input" style="width:30%">
        <span name="Username" id="Username" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Password</label>
        <input name="Password" id="Password" type="Password" class="w3-input w3-border w3-animate-input" style="width:30%">
        <span name="Password" id="Password" class="text-danger"></span>
    </div>

        

    



    <button type="submit" class="btn btn-primary" value="Login">Submit</button>
</form>
@if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }