@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome To the Lopez shopping center</h1>
    <p>Click one of the following options.</p>

    <a asp-controller="Customer" asp-action="CreateCustomer">Click here to Create an account</a>
    <p></p>
    <a asp-controller="Customer" asp-action="Login">Click here to go to Login Menu</a>
    <p></p>



    @* <a asp-controller="Customer" asp-action="Index2">Click here to go to Store View</a> *@
</div>