
@ViewBag.testname

<form asp-action="Login">
     <input type="text" name="Username" id="Username" />
   <input type="Password" name="Password" id="Password" />

        

    



    <button type="submit" class="btn btn-primary" value="Login">Submit</button>
</form>