@model IEnumerable<WebUI.Models.LineItemVM>

<h1>List of Products</h1>

<table class="table table-striped table-hover">
    <tr>
        <th>Store Id Number</th>
        <th>Id Number</th>


    </tr>
    @foreach(LineItemVM line in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => line.StoreID)</td>
            <td>@Html.DisplayFor(modelItem => line.ProductID)</td>
            
             
        </tr>
    }
    
        
    
</table>