@model WebUI.Models.StoreFrontVM
<head>
     <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>

<h1 class="display-4">Create Store</h1>

<form asp-action="CreateStore">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="col-auto">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" type="text" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Address" class="form-label">Address</label>
        <input asp-for="Address" type="text" class="form-control">
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>



    <button type="submit" class="btn btn-primary" value="CreateStore">Submit</button>
</form>