@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome To the Store Controller</h1>
    <p>Click one of the following options.</p>

    <a asp-controller="StoreFront" asp-action="SelectStore">Click here to start replenishing inventory</a>
    <p></p>
    <a asp-controller="StoreFront" asp-action="ShoppingIndex">Click here to start Shopping</a>
    <p></p>





    @* <a asp-controller="Customer" asp-action="Index2">Click here to go to Store View</a> *@
</div>