@model IEnumerable<WebUI.Models.StoreFrontVM>
    <link rel="stylesheet" href="~/css/Tables.css" />
    <form asp-action="Search">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label  class="form-label">Search Store Name</label>
        <input name="SearchWord"  type="Text" class="form-control">
        <span name="SearchWord"  class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary" value="Search">Submit</button>
</form>

@if(ViewBag.testing!=null)
{
    <h1>List of StoreFronts</h1>

<table class="table table-striped table-hover">
    <tr>
        <th scope="col">Id Number</th>
        <th scope="col">Store Name </th>
        <th scope="col">Store Location</th>


    </tr>
    @foreach(StoreFrontVM item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Address)</td>
                 <td>
                <button class="btn btn-danger">@Html.ActionLink("ViewProducts","SeeItems",new {p_id = item.Id,p_sid=item.Id}, new {@style="color: white;"})</button>
              </td>
            
            
        </tr>
    }
    
    
        
    
</table>
}
